table.discog_table {
    width: 100%;
}
table.discog_table td {
    border-style: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    /* overflow-wrap: break-word; */
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 1px;
    padding-top: 1px;
}

table.discog_table tr.main_heading th {
    border: none;
    background-color: rgb(0, 0, 212);
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 10px;
}

table.discog_table tr.session_heading {
    background-color: rgb(204, 255, 255);
    color: rgb(76, 76, 76);
    text-align: left;
    vertical-align: middle;
}

table.discog_table tr.session_heading th {
    border-style: none;
    padding-left: 10px;
}

table.discog_table .detail {
    font-size: 75%;
}

tr.artists td {
    padding-top: 10px;
    padding-bottom: 10px;
}

tr.suite td {
    font-weight: bold;
    padding-top: 10px;
}

tr.take td {
    vertical-align: top;
}

tr.take td.index {
    white-space: nowrap; /* Prevent indices wrapping at "-" in Chrome, Safari */
}

table.striped tbody tr:nth-child(even) {
    background-color: #efefef;
}

div.content {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}

 a, a:visited, a:hover:visited, a:hover, a:active {
    color: rgb(66, 113, 174);
    text-decoration: none;
}

ul.pure-menu-children {
    border: 1px solid #4d4d4c;
}

a.discog_link {
    font-size: 66%;
}

span.suite_details {
    font-size: 66%;
}
