<p>
Key to symbols:
<ul>
<li>&dagger; after an issue number denotes the lack of an official catalogue number (e.g. it may be a marking on the record surface but not on the record label)</li>
<li>* after release denotes that only part of the take has been used for the issued title</li>
<li>‡ indicates a release is not confirmed</li>
<li># is added to a title to distinguish it from a different tune of the same name</li>
<li>* after a New DESOR number indicates it is not from the New DESOR or a correction sheet, but has been unofficially assigned elsewhere</li>
<li>External links have the following codes
  <ul>
    {{ range $link_data := $.Site.Params.entry_links }}
      <li>{{ $link_data.text }}: {{ $link_data.description }} </li>
    {{ end }}
  </ul>
</li>
</ul>
</p>
