{{- define "main" }}

{{- with .Content }}
<div class="content main__content clearfix">
        {{ . }}
</div>
{{- end }}

{{- $pagepool := where $.Site.RegularPages "Type" "in" $.Site.Params.mainSections }}
{{- range $idx, $_ := (.Paginate $pagepool).Pages }}
{{- $showfull := default false .Params.showFullContent }}
<!-- <div class="post-divider"> -->
<div>
  {{- if default (default true $.Site.Params.showMeta) .Params.showmeta }}
  <div>
    <h2 class="post-title">
      {{ if .Draft }}DRAFT: {{ end }}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{ partial "post_meta.html" . }}
  </div>
  {{- end }}
  <div>
    {{ cond $showfull .Content .Summary }}
  </div>
</div>
{{- end }}
{{ partial "pagination.html" . }}
{{- end }}
