<p>
Notes:
</p>
<ul>
<li>&dagger; after an issue number denotes the lack of an official catalogue number.</li>
<li>* after an issue number denotes that only part of the take has been used for the issued title</li>
</ul>

<table class="discog_table">
<tr class="pre_heading"/>
<tr class="main_heading">
  <th>Index</th>
  <th>Matrix No.</th>
  <th>Title</th>
  <th>Releases</th>
  <th>New DESOR</th>
</tr>

{{/* Could also use getJSON */}}

{{ range index $.Site.Data.discog (.Get 0) }}
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr class="session_heading">
    <th colspan="3"> {{ .group }} </th>
    <th colspan="1"> {{ .location }} </th>
    <th colspan="2"> {{ .date }} </th>
  </tr>
  <tr class="take">
    <td colspan="6"> {{ .description }} </td>
  </tr>
  {{ range .entries }}
    {{ if eq .type "take" }}
      <tr class="take">
        <td> {{ .index }} </td>
        <td> {{ .matrix }} </td>
        <td> {{ .title }} </td>
        <td> {{ .releases }} </td>
        <td> {{ .desor }} </td>
      </tr>
    {{ else }}
      <tr class="artists">
        <td colspan="6"> {{ .value }} </td>
      </tr>
    {{ end }}
  {{ end }}
{{ end }}
</table>
