<p>Click on any record label to be taken to the releases for that label.</p>

<table class="striped">
    <thead>
        <tr>
            <th>
                Abbreviation
            </th>
            <th>
                Record Label
            </th>
        </tr>
    </thead>
{{ range $label, $label_name := $.Site.Data.discog.labels }}
  {{ $url := printf "%s#label-%s" (ref $.Page "discography/releases") (urlquery $label) }}
  <tr>
      <td><a href="{{ $url }}">{{ $label }}</a></td>
      <td>{{ $label_name }}</td>
  </tr>
{{ end }}
</table>
