<p>Click on any index number to be taken to the corresponding session.</p>

<p>See the <a href="{{ ref $.Page "discography/labels" }}">Record Labels</a> page for a list of all labels.</p>

{{ partial "key_to_symbols.html" . }}

<p>Note that the tracks are listed in the order in they were recorded, not the order on the LP or CD.</p>

<h1>Table of Contents</h1>

<ul>
{{ range $label, $releases := $.Site.Data.discog.generated.releases }}

  {{ $release_list := slice }}

  {{ range $catalog, $release_data := $releases }}
  {{ $release_list = $release_list | append $catalog }}
  {{ end }}

  <li>{{ $label }} ({{ index $.Site.Data.discog.labels $label }}):
      {{ $first := true }}
      {{- range $catalog, $release_data := $releases -}}
        {{- $escaped_release_name := printf "%s-%s" (urlquery $label) (urlquery $catalog ) -}}
        {{- if not $first -}}, {{ end -}}
        {{- $first = false -}}
        <a href="#release-{{ $escaped_release_name }}">{{ $catalog }}</a>
      {{- end -}}
  </li>

{{ end }}

</ul>

<h1>Releases</h1>

{{ range $label, $releases := $.Site.Data.discog.generated.releases}}
  <h2 id="label-{{ urlquery $label }}">{{ $label }}: {{ index $.Site.Data.discog.labels $label }}</h2>

  {{ range $catalog, $release_data := $releases }}
    {{ $escaped_release_name := printf "%s-%s" (urlquery $label) (urlquery $catalog )}}

    <h3 id="release-{{ $escaped_release_name }}">
      {{ $label }} {{ $catalog }}

      {{ if $release_data.title }}
        "{{ $release_data.title }}" ({{ $release_data.format }})
      {{ end }}

      {{ range $link_data := $.Site.Params.entry_links }}
        {{- if index $release_data $link_data.key -}}
          <a href="{{ index $release_data $link_data.key }}" class="discog_link">{{ $link_data.text }}</a>
        {{- end -}}
      {{- end -}}
    </h3>

    <table class="discog_table">
      <tr class="pre_heading"/>
      <tr class="main_heading">
        <th>Index</th>
        <th>Matrix No.</th>
        <th>Title</th>
        <th>New DESOR</th>
      </tr>
      {{ range $take := $release_data.takes }}
        <tr class="take">
          {{ $page := ref $.Page (printf "discography/%s" $take.page) }}
          <td class="index"><a href="{{ $page }}#take-{{ $take.index }}">{{ $take.index }}</a></td>
          <td>{{ $take.matrix }}</td>
          <td> {{ $take.title }}{{ $take.flags }}
            {{ range $link_data := $.Site.Params.entry_links }}
              {{- if index $take $link_data.key -}}
                <a href="{{ index $take $link_data.key }}" class="discog_link">{{ $link_data.text }}</a>
              {{- end -}}
            {{- end -}}
          </td>
          <td>{{ $take.desor }}</td>
        </tr>
      {{ end }}
    </table>
  {{ end }}
{{ end }}
